.Testimonial{
  margin: 10px auto;
  position: relative;
  padding: 0 80px;
  width: 90%;
}
.next-btn, .back-btn {
  position: absolute;
  top: 50%;
  right: 0;
  cursor: pointer;
  transform: translateY(-50%);
  background: #212EA0;
  padding: 15px;
  width: 50px;
  border-radius: 50%;
}
.back-btn{
  right: auto;
  left: 0;
}
.slider{
  overflow: hidden;
}
.slider ul{
  display: flex;
  width: fit-content;
  overflow-x: hidden;
  transition: 0.5s;
}
.slider ul li {
  list-style: none;
  width: 50%;
  padding: 70px;
}
.slide {
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.05 );
  color: #676767;
  line-height: 1.4;
  width: 26vw;
}
.slide img {
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
  border:  4px solid #212EA0;
  height: 40px;
}
.user-info {
  display: flex;
  margin-bottom: 10px;
  font-size: 12px;
  align-items: center;
}
.user-info h3{
  color: #212EA0;
}
.slide p {
  text-align: left;
  font-size: 15px;
}
@media (max-width: 800px){
  .Testimonial{
    margin: 20px auto;
  }
  .user-info p {
    font-size: 5px;
  }
  .Testimonial ul li {
    padding: 5px;
  }
  .slide{
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.05 );
    color: #676767;
    line-height: 1.4;
    width: 50vw;
  }
  .slide img {
    width: 30px;
    height: 30px;
  }
  .next-btn , .back-btn{
    padding: 10px;
    width: 35px;
  }
  .slide p{
    font-size: 15px;
  }
}
@media (max-width:400px) {
  .Testimonial{
    padding: 0 65px;
  }
  .slide{
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.05 );
    color: #676767;
    line-height: 1.4;
    width: 45vw;
  }

  .next-btn , .back-btn{
    padding: 10px;
    width: 35px;
  }
  .slide p{
    font-size: 11px;
  }
}
@media (max-width: 300px) {
    .Testimonial{
    padding: 0 45px;
  }
  .slide{
    padding: 4px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.05 );
    color: #676767;
    line-height: 1.4;
    width: 50vw;
    height: 45vh;
  }

  .next-btn , .back-btn{
    padding: 10px;
    width: 35px;
  }
  .slide p{
  font-size: 10px;
  word-wrap: break-word;
  }
  
}